{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('registrationJS') }}
{% endblock %}
{% block title %}Hello EditProfileController!{% endblock %}

{% block body %}
    <!--
    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="row">
                -->
    <!-- load Logo picture -->
    <div class="col-sm-4 col-lg-3">
        <div class="sidebar">
            <div class="widget">
                <div class="user-photo">
                    <ul>
                        {%  for logo in registrationForm.logo %}
                            <li>
                                <a href="#">

                                    <img src="{{ asset('public/img/'~ " logo.picture " )}}" alt="User Photo">
                                    <span class="user-photo-action">Click here to reupload</span>
                                </a>
                            </li>
                        {% endfor  %}
                    </ul>
                </div><!-- /.user-photo -->
            </div><!-- /.widget -->
        </div><!-- /.sidebar -->
    </div><!-- /.col-* -->
    <!-- /. End -- load Logo picture -->

    <!-- Form edit main Profile -->
    <div class="col-sm-8 col-lg-9">
        <div class="content">

            <div class="page-title">
                <h1>Edit Profile</h1>
            </div><!-- /.page-title -->
            <!-- Form edit contact Info -->
            <div class="background-white p20 mb30">
                <h3 class="page-title">Contact Information</h3>

                    {{ form_start(registrationForm) }}

                    <div class="form-group ">
                        {{ form_row(registrationForm.name, { 'label' : 'Name', 'attr' : { 'class' : 'form-control' }}) }}
                    </div><!-- /.form-group -->
                    <div class="form-group ">
                        {{ form_row(registrationForm.email, { 'label' : 'Email', 'attr' : { 'class' : 'form-control' }}) }}
                    </div><!-- /.form-group -->
                    <div class="form-group ">
                        {{ form_row(registrationForm.emailPublic, { 'label' : 'Email Public', 'attr' : { 'class' : 'form-control' }}) }}
                    </div><!-- /.form-group -->
                    <div class="form-group ">
                        {{ form_row(registrationForm.adresseNumber, { 'label' : 'Adresse Number', 'attr' : { 'class' : 'form-control' }}) }}
                    </div><!-- /.form-group -->
                    <div class="form-group ">
                        {{ form_row(registrationForm.adresseStreet, { 'label' : 'Adresse Street', 'attr' : { 'class' : 'form-control' }}) }}
                    </div><!-- /.form-group -->
                    <div class="form-group ">
                        {{ form_row(registrationForm.phoneNumber, { 'label' : 'Phone Number', 'attr' : { 'class' : 'form-control' }}) }}
                    </div><!-- /.form-group -->
                    <div class="form-group ">
                        {{ form_row(registrationForm.tvaNb, { 'label' : 'Tva Nb', 'attr' : { 'class' : 'form-control' }}) }}
                    </div><!-- /.form-group -->
                    <div class="form-group ">
                        {{ form_row(registrationForm.webSite, { 'label' : 'WebSite', 'attr' : { 'class' : 'form-control' }}) }}
                    </div><!-- /.form-group -->
                    <div class="form-group ">
                        {{ form_row(registrationForm.postCode, { 'label' : 'Post Code', 'attr' : { 'class' : 'form-control' }}) }}
                    </div><!-- /.form-group -->
                    <div class="form-group ">
                        {{ form_row(registrationForm.city,{ 'label' : 'City', 'attr' : { 'class' : 'form-control' }}) }}
                    </div><!-- /.form-group -->
                    <div class="form-group ">
                        {{ form_row(registrationForm.services, { 'label' : 'Services', 'attr' : { 'class' : 'form-control' }}) }}
                    </div><!-- /.form-group -->
                    <div class="form-group ">
                        <ul class="logos" data-prototype="{{ form_widget(registrationForm.logo.vars.prototype)|e('html_attr') }}">
                            {# iterate over each existing tag and render its only field: name #}
                            {% for logo in registrationForm.logo %}
                                <li>{{ form_widget(logo) }}</li>
                            {% endfor %}
                        </ul>
                    </div><!-- /.form-group -->
                    <div class="form-group ">
                        {{ form_row(registrationForm.save,{ 'label' : 'Save', 'attr' : { 'class' : 'btn btn-primary fa fa-comment' }}) }}
                    </div><!-- /.form-group -->
                {{ form_widget(registrationForm._token) }}
                {{ form_end(registrationForm, {'render_rest': false}) }}<!-- end form  -->

                    <!-- /. End -- Form edit address Info -->
            </div>
            <!-- /. End -- Form edit main Profile -->
        </div>
    </div>

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('registrationJS') }}
    {% endblock %}
{% endblock %}
