{% extends 'base.html.twig' %}

{% block title %}Hello {{ service.nom }}!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>{{service.nom}}</h1>

        <p>Description <br/><br/>{{ service.description }}</p>

        <!---Affichage des Prestataire lie a ce services --->
        <div>
            <h3>Prestataires:</h3>
            <ul>
                {% for worker in  service.offer%}
                    <li>
                        <a href="{{ path('worker_detail',{'id': worker.id})}}">{{ worker.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
