{% extends 'base.html.twig' %}

{% block title %}Services index{% endblock %}

{% block body %}

<div class="col-sm-8 col-lg-9">
    <div class="content">

        <div class="page-title">
            <h1>Services index</h1>
        </div>
        <div class="background-white p20 mb30">

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Description</th>
                        <th>EnAvant</th>
                        <th>Nom</th>
                        <th>Valide</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for service in services %}
                    <tr>
                        <td>{{ service.id }}</td>
                        <td>{{ service.description }}</td>
                        <td>{{ service.enAvant ? 'Yes' : 'No' }}</td>
                        <td>{{ service.nom }}</td>
                        <td>{{ service.valide ? 'Yes' : 'No' }}</td>
                        <td>
                            <a class="btn btn-primary fa fa-comment" href="{{ path('services_show', {'id': service.id}) }}">show</a>
                            <a class="btn btn-primary fa fa-comment" href="{{ path('services_edit', {'id': service.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a class="btn btn-primary fa fa-comment" href="{{ path('services_new') }}">Create new</a>
        </div>
    </div>
</div>
{% endblock %}
