<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('superlist') }}
            {{ encore_entry_link_tags('map') }}
        {% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>

    </head>
    <body>
        {% block Header %}{% include 'header.html.twig' %}{% endblock %}
        <div class="main">
            <div class="main-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-lg-3">
                            <div class="sidebar">
                                {% block LeftSidebar %}{% include 'leftSidebar.html.twig' %}{% endblock %}
                            </div><!-- /.sidebar -->
                        </div><!-- /.col-* -->
                        <div class="col-sm-8 col-lg-9">
                            <div class="content">
                                {% block body %}{% endblock %}
                            </div><!-- /.content-->
                        </div><!-- /.col-* -->
                    </div><!-- /.row -->
                </div><!-- /.Container -->
            </div><!-- /.Main-inner -->
        </div><!-- /.Main -->
        {% block Footer %}{% include 'footer.html.twig' %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('superlist') }}
            {{ encore_entry_script_tags('map') }}
        {% endblock %}
    </body>
</html>
